DB_HOST=localhost
DB_PORT=5432
DB_NAME=nimbus
DB_USER=postgres
DB_PASSWORD=postgres

PRODUCT_SERVICE_URL=http://localhost:8081
INVENTORY_SERVICE_URL=http://localhost:8082

AWS_REGION=ap-south-1